Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [53]:
a = "string"

In [54]:
a

'string'

In [55]:
b = [1,2,3,"l",True,False,7+7j]

In [56]:
b

[1, 2, 3, 'l', True, False, (7+7j)]

In [57]:
c = 7.89

In [58]:
c

7.89

In [59]:
d = ("a","b","c","d","d","d")

In [60]:
d

('a', 'b', 'c', 'd', 'd', 'd')

In [61]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

var1 is string
var2 is string
var3 is list
var4 is float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ is for division
% is for percentile meaning to get the reminder 
// is the floor division operator meaning it gives the quotient of a division operator
** is a power operator.

In [62]:
a = 10
b = 20

In [63]:
a / b

0.5

In [64]:
a = 10
b = 2

a % b # here the reminder is zero for this operation

0

In [65]:
a = 10
b = 3

a % b # here the reminder is 1 for this operation

1

In [66]:
a // b # it gives the quotinet of the division operation

3

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [67]:
l = [1,2,3,4,5,"raj",7+9j,9.9,True,False]
for i in l:
    print("element is ",i," type is ",type(i))

element is  1  type is  <class 'int'>
element is  2  type is  <class 'int'>
element is  3  type is  <class 'int'>
element is  4  type is  <class 'int'>
element is  5  type is  <class 'int'>
element is  raj  type is  <class 'str'>
element is  (7+9j)  type is  <class 'complex'>
element is  9.9  type is  <class 'float'>
element is  True  type is  <class 'bool'>
element is  False  type is  <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [68]:
a =  2 
b = 5
while True:
    if a % b == 0:
        c = a // b
        print(f"the number is {a} is divisible by {b} for {c} times")
        break
    else:
        print(f"the number is {a} is not purely  divisible by {b}")
        break

the number is 2 is not purely  divisible by 5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [69]:
l = list(range(0,25))

In [70]:
for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

list has a mutable property as any element is in the list can be changed

In [71]:
l[0] = "rajkumar"

In [72]:
l # so now the zeroth iindex has been chnaged

['rajkumar',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

and string are not mutable as value of index of a string cannot be changed

In [73]:
a = "string element"
a

'string element'

In [74]:
a[0] = "mute the string" # not able to chnage the zeroth index of the string I get and error as below

TypeError: 'str' object does not support item assignment