In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rajmr\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\rajmr\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

WARNING: Ignoring invalid distribution -ymongo (c:\users\rajmr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\rajmr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\rajmr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\rajmr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\rajmr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\rajmr\anaconda3\lib\site-packages)

In [2]:
import mysql.connector as conn

In [14]:
mydb = conn.connect (host = "localhost", user = 'root' , password = 'qwer1234')

In [15]:
mydb.database

In [16]:
cursor = mydb.cursor()

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a form of storing data.
SQL is a structured query language and use to store data in shema. We need to create the table structure and then store and so manipulations to the data. We have DDL in it

NoSQL is form of storing storing data like a dictionary. We dont have a shema. We have collections as table and documents as records.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL starnds for Data definition language where you create or alter the table schema.

In [54]:
cursor.execute (' create database IF NOT EXISTS Assignment_db')

In [55]:
cursor.execute('use Assignment_db')

In [56]:
#create
#create is used to create a table or a database

query = "create table Assignment_table (col1 int(5), col2 int(5), col3 varchar(10), col4 float(10,5), col5 varchar(20))"

In [57]:
cursor.execute(query)

In [39]:
#drop 
#drop is used to drop a table or a database

query = "drop table Assignment_table"

In [40]:
cursor.execute(query)

In [41]:
query = "drop database  Assignment_db"

In [42]:
cursor.execute(query)

In [43]:
cursor.execute("show databases")

In [44]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('raj',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [58]:
#Alter
#Alter is used to chnage the Shema of the table. Like in below I changing the col1 from it to float
query = "ALTER table Assignment_table MODIFY COLUMN col1 float(10,5)"

In [59]:
cursor.execute(query)

In [60]:
query = " Alter table Assignment_table ADD COLUMN col6 varchar(40)"

In [61]:
cursor.execute(query)

In [ ]:
#TRUNCATE
#Truncate table deletes the table contents completly

In [68]:
query = "insert into Assignment_table values (10,10,'text',10,'text','text')"

In [69]:
cursor.execute(query)

In [71]:
cursor.execute("select * from Assignment_table")

In [72]:
for i in cursor.fetchall():
    print(i)

(10.0, 10, 'text', 10.0, 'text', 'text')

In [73]:
query = "truncate table Assignment_table "

In [76]:
cursor.execute(query)

In [77]:
cursor.execute("select * from Assignment_table")

In [78]:
for i in cursor.fetchall():
    print(i)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML is data manipulation language.

In [85]:
#insert is to insert data to table
q1 = "insert into Assignment_table values (10,10,'text',10,'text','text')"
#update is to update data to table
q2 = "update Assignment_table set col3 = 'upd text'"
#delete is to delete records to table
q3 = "delete from Assignment_table where col1 = 10"

In [95]:
cursor.execute(q1)

In [96]:
cursor.execute("select * from Assignment_table")

In [97]:
for i in cursor.fetchall():
    print(i)

(10.0, 10, 'text', 10.0, 'text', 'text')

In [86]:
cursor.execute(q2)

In [87]:
cursor.execute("select * from Assignment_table")

In [88]:
for i in cursor.fetchall():
    print(i)

(10.0, 10, 'upd text', 10.0, 'text', 'text')

In [89]:
cursor.execute(q3)

In [90]:
for i in cursor.fetchall():
    print(i)

In [91]:
mydb.commit()

Q4. What is DQL? Explain SELECT with an example.

This is data query language. Select is used to select data from the table
cursor.execute("select * from Assignment_table")

In [98]:
cursor.execute("select * from Assignment_table")

In [99]:
for i in cursor.fetchall():
    print(i)

(10.0, 10, 'text', 10.0, 'text', 'text')

Q5. Explain Primary Key and Foreign Key.

Primary key is A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

Foreign key is A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [103]:
cursor = mydb.cursor() # a database cursor is a mechanism that enables traversal over the records in a databas

In [101]:
cursor.execute("select * from Assignment_table") # is used to execute the sql commands

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.