In [ ]:
Q1. What is data encoding? How is it useful in data science?

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [ ]:
Q1. What is data encoding? How is it useful in data science?

Data encoding is coverting categorical feature to meaning numerical feature. its usefuk in ds as model understands only numerical data

In [ ]:
Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal encoding is one hot encoding.

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset("tips")

In [4]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [9]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [10]:
encoder = OneHotEncoder()

In [11]:
encoded=encoder.fit_transform(df[['day']]).toarray()

In [12]:
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [13]:
encoded_df

     day_Fri  day_Sat  day_Sun  day_Thur
0        0.0      0.0      1.0       0.0
1        0.0      0.0      1.0       0.0
2        0.0      0.0      1.0       0.0
3        0.0      0.0      1.0       0.0
4        0.0      0.0      1.0       0.0
..       ...      ...      ...       ...
239      0.0      1.0      0.0       0.0
240      0.0      1.0      0.0       0.0
241      0.0      1.0      0.0       0.0
242      0.0      1.0      0.0       0.0
243      0.0      0.0      0.0       1.0

[244 rows x 4 columns]

In [ ]:
Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Label encoding is preferred when the numer of categories is less

In [17]:
from sklearn.preprocessing import LabelEncoder
data = pd.DataFrame({'Fruit': ['Apple', 'Orange', 'Banana', 'Apple', 'Banana']})

label_encoder = LabelEncoder()

data['Fruit_LabelEncoded'] = label_encoder.fit_transform(data['Fruit'])

print(data)

    Fruit  Fruit_LabelEncoded
0   Apple                   0
1  Orange                   2
2  Banana                   1
3   Apple                   0
4  Banana                   1

In [ ]:
Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

Since there are only 5 categories I will go with OHT as the cardinaity is less so less number fo new features will be created

In [ ]:
Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

2 new columns will be created using label encoding. if you do OHE then number of columns will depend on the number of categories in column

Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

or the given dataset containing information about different types of animals, including species and habitat, one-hot encoding is the most suitable encoding technique. It allows the model to efficiently represent the categorical features without introducing any ordinal relationship between the categories. For the "diet" feature, other encoding techniques like target encoding could be considered, depending on the specific goals of the analysis and the machine learning algorithms being used.

In [ ]:
Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

ne-Hot Encoding: We'll use one-hot encoding for the categorical feature "gender" since it has two unique categories (e.g., Male and Female).

In [18]:
import pandas as pd

data = pd.DataFrame({
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'age': [30, 25, 40, 35, 50],
    'contract_type': ['Monthly', 'Annual', 'Monthly', 'Monthly', 'Annual'],
    'monthly_charges': [50.0, 60.0, 45.0, 55.0, 70.0],
    'tenure': [6, 12, 4, 8, 24]
})

data_encoded = pd.get_dummies(data, columns=['gender'])

print(data_encoded)

   age contract_type  monthly_charges  tenure  gender_Female  gender_Male
0   30       Monthly             50.0       6              0            1
1   25        Annual             60.0      12              1            0
2   40       Monthly             45.0       4              0            1
3   35       Monthly             55.0       8              1            0
4   50        Annual             70.0      24              0            1