In [1]:
import pymongo
db = pymongo.MongoClient("mongodb://localhost:27017/")
db

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a NOSQL database
Non relational datases means data is stored in like a dictionary or non tabular form. It doesnt have a predefined structure
When you need to stored a unstructured data like picture, audio file, pdf and data in the form of dictionary mondo db is preferred

Q2. State and Explain the features of MongoDB.

These are some important features of MongoDB:

1. Support ad hoc queries
In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing
You can index any field in a document.

3. Duplication of data

MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing
It has an automatic load balancing configuration because of data placed in shards.


6. Supports map reduce and aggregation tools.

7. Uses JavaScript instead of Procedures.

8. It is a schema-less database written in C++.

9. Provides high performance.

10. Stores files of any size easily without complicating your stack.


11. Easy to administer in the case of failures.

12. It also supports:

JSON data model with dynamic schemas
Auto-sharding for horizontal scalability
Built in replication for high availability

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
import pymongo
db = pymongo.MongoClient("mongodb://localhost:27017/")
db

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
db.list_database_names()

['Raj', 'admin', 'config', 'local']

In [5]:
db1 = db['Assigment_database'] # create a datavase?

In [7]:
coll = db1["Assignment_database"]

In [10]:
data = {"chapter": "mongodb",
        "lecturer" : "Sudhanshur sir",
        "name" :"Rajkumar",
        "phone no" : 9899
       }

In [11]:
coll.insert_one(data)

In [12]:
coll.find_one()

{'_id': ObjectId('6487321b1c0e1fd019ee851e'),
 'chapter': 'mongodb',
 'lecturer': 'Sudhanshur sir',
 'name': 'Rajkumar',
 'phone no': 9899}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [19]:
data = {"chapter": "mongodb",
        "lecturer" : "Sudhanshur sir",
        "name" :"Rajkumar",
        "phone no" : 9899
       }

In [20]:
coll.insert_one(data)

In [21]:
data = [{"k1":"v1","k2":"v2","k3":"v3"},{"k1":"v1","k2":"v2","k3":"v3"},{"k1":"v1","k2":"v2","k3":"v3"}]

In [22]:
coll.insert_many(data)

In [23]:
for i in coll.find():
    print(i)

{'_id': ObjectId('6487321b1c0e1fd019ee851e'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648732a91c0e1fd019ee851f'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8520'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8521'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733051c0e1fd019ee8522'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648733061c0e1fd019ee8523'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8524'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8525'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [25]:
q = {"k2":"v2"}

In [26]:
for i in coll.find(q):
    print(i)

{'_id': ObjectId('648732a91c0e1fd019ee851f'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8520'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8521'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8523'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8524'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8525'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [40]:
for i in coll.find().sort("_id",1): # 1 is for ascending
    print(i)

{'_id': ObjectId('6487321b1c0e1fd019ee851e'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648732a91c0e1fd019ee851f'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8520'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8521'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733051c0e1fd019ee8522'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648733061c0e1fd019ee8523'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8524'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8525'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [41]:
for i in coll.find().sort("_id",-1): # 1 is for decending
    print(i)

{'_id': ObjectId('648733061c0e1fd019ee8525'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8524'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8523'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733051c0e1fd019ee8522'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648732a91c0e1fd019ee8521'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8520'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee851f'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('6487321b1c0e1fd019ee851e'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [42]:
q = {"k1":"v1"}

In [43]:
coll.delete_one(q) # is to delete a single document

In [45]:
for i in coll.find(): # 1 is for decending
    print(i)

{'_id': ObjectId('6487321b1c0e1fd019ee851e'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648732a91c0e1fd019ee8520'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648732a91c0e1fd019ee8521'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733051c0e1fd019ee8522'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648733061c0e1fd019ee8523'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8524'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
{'_id': ObjectId('648733061c0e1fd019ee8525'), 'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [46]:
coll.delete_many(q) # is to delete a many  document matching to the filter

In [47]:
for i in coll.find(): 
    print(i)

{'_id': ObjectId('6487321b1c0e1fd019ee851e'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}
{'_id': ObjectId('648733051c0e1fd019ee8522'), 'chapter': 'mongodb', 'lecturer': 'Sudhanshur sir', 'name': 'Rajkumar', 'phone no': 9899}

drop is used to drop a collection from the database or drop a database

In [48]:
db.list_database_names()

['Assigment_database', 'Raj', 'admin', 'config', 'local']

In [59]:
for i in db1.list_collections():
    print(i)

{'name': 'Assignment_database', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': Binary(b'\xb4rn\xa78\nJ<\x970\xed{\xca\x8c\xb5u', 4)}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}

In [60]:
db1.drop_collection('Assignment_database')

{'nIndexesWas': 1, 'ns': 'Assigment_database.Assignment_database', 'ok': 1.0}

In [62]:
for i in db1.list_collections():
    print(i)

In [ ]:
this empty because the collection is deleted

In [63]:
db.list_database_names()

['Raj', 'admin', 'config', 'local']